#nav {
    display: inline-flex;
    flex-grow: 2;
    align-self: center;
    width: 100%;
    padding: 0;
}

#nav li {
    flex-grow: 1;
    font-size: 30px;
    font-weight: bold;
    list-style-type: none;
}
#nav li a{
    text-decoration: none;
    color: white;
}
